<div class="row">
  <div class="col-md-12">
    <nb-card status="success" class="inline-form-card">
      <nb-card-header>Products and Investment details for {{phName}}
        <br>
        <I>Risk Tolerance: Aggressive</I>
      </nb-card-header>
    </nb-card>
  </div>
</div>

<div class="row">
  <div id="my-div" class="col-md-12">
    <ng-container *ngFor="let item of goalList;">
    <nb-card status="primary">
      
      <nb-card-header>
        <div style="display: flex;">
          <div>{{item.goalName}} &nbsp;({{item.term}})</div>
          <ng-container *ngIf="'SPONSER' == role && 'Retirement' == item.goalName">
            <div style="padding-left: 2%;margin-left: auto;">
              <button type="button" nbButton status="info" (click)="onedit('val')">Edit</button>
              &nbsp;
            </div>
          </ng-container>

          <ng-container *ngIf="'PARTICIPANT' == role && 'Retirement' != item.goalName">
            <div style="padding-left: 2%;margin-left: auto;">
              <button type="button" nbButton status="info" (click)="onedit('val')">Edit</button>
              &nbsp;<button type="button" nbButton status="info" (click)="onClick(item.goalName)">Delete</button>
            </div>
          </ng-container>

          
         
        </div>
      </nb-card-header>
     
      <ng-container *ngIf="item.mode == 'view'">
        <nb-card-body class="">
          <div style="flex-direction: column;"> 
          <ng-container *ngFor="let productItem of item.products.productList">
            
            <div class="demo-items">
              <nb-checkbox checked status="primary" nbTooltip="Product" nbTooltipStatus="success" nbTooltipPlacement="right">{{productItem}}</nb-checkbox>
            </div>
            
            <div class="demo-items" style="padding-left: 15%;">
              <ng-container *ngFor="let investItem of item.products[productItem];index as i">
                <div style="padding-top: 1%;margin: 0 -0.5rem;display: flex;flex-direction: column;">
                  <ng-container *ngIf="i == 0">
                    <nb-checkbox checked #investName status="success" nbTooltip="Investment" nbTooltipStatus="warning" nbTooltipPlacement="left">{{investItem}}</nb-checkbox>
                    <input style="width:max-content;" #textname maxlength="3" type="text" nbInput placeholder="%" value="25">
                  </ng-container>
                  <ng-container *ngIf="i != 0">
                    <nb-checkbox #investName status="success" nbTooltip="Investment" nbTooltipStatus="warning" nbTooltipPlacement="left">{{investItem}}</nb-checkbox>
                    <input style="width:max-content;" #textname maxlength="3" type="text" nbInput placeholder="%" value="44">
                  </ng-container>
                  
                  
                </div>
               
              </ng-container>
            </div>

            
           
            
         
          </ng-container> </div>


         
          
          
         
      </nb-card-body>
      <div style="padding-left: 2%;text-align: center;">
        <button type="button" nbButton status="success" (click)="onedit('val')">Update</button>
      </div>
      <div style="padding-left: 2%;text-align: center;">&nbsp;</div>
      </ng-container>
      <ng-container *ngIf="item.mode == 'edit'">
      <nb-card-body class="example-items-col">
        
          <div style="padding-top: 1%;">
            <span style="font-weight: bolder;color: black;">Products</span>
          </div>
          
          <nb-select #product status="success" [selected]="item.selectedProducts" fullWidth="true" multiple placeholder="Products" (selectedChange)="changeproduct($event)">
            <nb-option *ngFor="let productItem of item.products.productList" value="{{productItem}}"> {{ productItem }} </nb-option>
          </nb-select>
  
          <div style="padding-top: 1%;">
            <span style="font-weight: bolder;color: black;">Investments</span>
          </div>
          <nb-select status="success" [selected]="item.selectedInvest" fullWidth="true" multiple placeholder="Investments">
            <nb-option #nbOption *ngFor="let investItem of investList" value="{{investItem}}" (click)="investClick(nbOption, item.goalName)"> {{ investItem }} </nb-option>
          </nb-select>
          <div>
            
            <div class="container" id="rcorners2" style="padding-top: 1%;padding-bottom: 1%;text-align: center;background-color: rgb(182, 245, 221);">
              <div style="vertical-align:middle">
                <span style="font-weight: bolder;color: black;">Allocations(%)</span>
              </div>
            </div>
            <div style="padding-top: 1%;">
            <form>
              <ng-container *ngFor="let investitemtext of item.selectedInvest;">
                <div class="form-group row">
                  <label for="inestname{{investitemtext}}" class="label col-sm-3 col-form-label">{{investitemtext}}</label>
                  <div class="col-sm-3">
                    <input type="text" style="width: 60px;" nbInput maxlength="3" id="inestname{{investitemtext}}" placeholder="%" value="50"> %
                  </div>
                </div>
              </ng-container>
             <!--
              <div class="form-group row">
                <div class="offset-sm-3 col-sm-3">
                  <button type="submit" nbButton status="primary">Save</button>
                  
                </div>
               
              </div>
              -->
              
            </form>
            </div>
          </div>
        
      </nb-card-body>
      </ng-container>
    </nb-card>
  </ng-container>
  </div>
</div>

<ng-container *ngIf="chartShow">
  <div class="row">
    <div class="col-lg-12">
      <nb-card accent="success">
        <nb-card-header>Allocation Details</nb-card-header>
        <nb-card-body>
          <ngx-echarts-pie [data]="pieData" (chartClick)="chartPieSelected($event)"></ngx-echarts-pie>
        </nb-card-body>
      </nb-card>
    </div>
   
    </div>
</ng-container>
<ng-container *ngIf="!chartShow">
  <div class="row">
    <div class="col-lg-12">
      <nb-card accent="success">
        <nb-card-header>Allocation Details</nb-card-header>
        <nb-card-body>
          <ngx-echarts-pie [data]="pieData" (chartClick)="chartPieSelected($event)"></ngx-echarts-pie>
        </nb-card-body>
      </nb-card>
    </div>
   
    </div>
</ng-container>

<div class="row">
  <div class="col-md-12">
    <nb-card status="success" class="inline-form-card">
      <nb-card-header style="align-content: center;">
        <div style="text-align: center;">
          <a [routerLink]="['/pages/success']">Submit >>>></a>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
</div>

    