<div class="row">
    <div class="col-md-12">
      <nb-card status="success" class="inline-form-card">
        <nb-card-header>
            <div *ngIf="role == 'SPONSER'" style="text-align: center;">
              Successfully submiited for participant review.
              </div>
              <div *ngIf="role != 'SPONSER'" style="text-align: center;">
                Your investment selections submitted successfully for processing.
                </div>
              </nb-card-header>
           
      </nb-card>
    </div>
  </div>