<div class="row col-md-6 offset-md-3" style="padding-top: 10%;">
    <div class="col-md-12">
<nb-card accent="info">
    <nb-card-header>Wellness Reporting Login</nb-card-header>
    <nb-card-body>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1" class="label">Username</label>
          <input type="email" nbInput fullWidth id="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="label">Password</label>
          <input type="password" nbInput fullWidth id="password" placeholder="Password">
        </div>
      
        <button type="button" nbButton status="danger" (click)="login()">Submit</button>
      </form>
    </nb-card-body>
  </nb-card> 
  </div></div> 