<div class="row col-md-6 offset-md-3">
  <div class="col-md-12">
    <nb-card status="success">
      <nb-card-header>Employee data</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="file" nbInput fullWidth placeholder="File">
            </div>
          </div>
        
              <button (click)="onSubmit()" type="button" nbButton status="primary" >Submit</button>
            
          </form>

       
        
        
      </nb-card-body>
      <nb-card-footer>
        
      </nb-card-footer>
    </nb-card>
  </div>
</div>